body{
    background-image: url("https://bogatyr.club/uploads/posts/2023-03/1678886080_bogatyr-club-p-stol-s-ovoshchami-fon-foni-krasivo-85.jpg");
    background-size: 100%;
}
h1 {
    text-align: center;
}
.cards{
    display: flex;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
    justify-content: space-between;
}
.card{
    display: flex;
    margin: 20px;
    width: 225px;
    min-height: 400px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
}
   .card:hover {
    box-shadow: 16px 32px 64px rgba(151, 146, 144, 0.2);
  }
  
  .card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px;
  }
  .card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    margin-top: 30px;
    background-color: rgba(179, 173, 139, 0.507);
  }
  .card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #414141;
  }

  .card__image {
    height: 40%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
  }
.card_text{
    padding: 0px 20px 0px 20px;
    
}
  